<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Esqueceu a Senha</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='forgot_password.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='global.css') }}"
    />
  </head>
  <body class="principal">
    <div class="box-esqueceu-senha">
      <div class="box-conteudo">
        <h1 class="tex">Esqueceu a Senha ?</h1>
      </div>
      <div class="informacoes">
        <form method="post">
          <label class="text-email" for="email">Digite seu e-mail:</label>
          <div class="entrada">
            <input
              class="text-input"
              type="email"
              id="email"
              name="email"
              required
            />
            <br />
          </div>
          <div>
            <button class="botao-enviar" ltype="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
    {% with messages = get_flashed_messages() %} {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %} {% endwith %}
  </body>
</html>
